extends ../layout.pug
block contenido
	div(class="container")
		h1 Panel de Administracion
		table(class="table")
			caption fotos
			thead
				tr
					th #
					th Nombre
					th Descripcion
					th Imagenes
					th Acciones
			tbody
				each product in products
					tr
						td= product.id
						td= product.title
						td= product.description
						td
							a(href=(product.imageUrl)) Ver foto
						td 
							a(href=("/alumno/edit/" + product.id)) Editar
							=" - "
							a(href=("/alumno/delete/" + product.id)) Eliminar