doctype html
html(lang="es")
	head
		title ยก29 de junio!
		meta(charset='utf-8')
		link(href='/css/bootstrap.min.css', rel='stylesheet')
		link(href='/css/main.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400', rel='stylesheet', type='text/css')
		link(href='css/animate.css', rel='stylesheet', type='text/css')
	body
		nav(class="large-padding fondo-gris")
			ul(class="no-list mediano")
				li(class="pacifico col-md-3 inline-block")
					a(href="/" class="green") 29 de julio #[small(class="lato small") Aprendizaje superior]
				
				li(class="col-md-3 inline-block")
					a(href="/alumno") alumno
				
				li(class="col-md-3 inline-block")
					a(href="#") contacto
		block contenido