extends ../layout.pug
block contenido
	div(class="col-md-12 center-block no-float top-space text-left")
		h1(class="text-center") Eliminar 
			= product.title
		form(method="post" action=("/fotos/" + product.id + "?_method=delete") style="margin-top:1.5em;" class="col-md-6 center-block no-float")
			div(class="form-group text-center top-space")
				input(type="submit" class="btn btn-info" value="Eliminar")
				